.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.inner-container {
  padding: 20px;
}
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.img {
  height: 80px;
}
.card-1 {
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 16px;
  margin-right: 16px;
}
.card-2 {
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 16px;
  margin-right: 16px;
}
.card-3 {
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 16px;
  margin-right: 16px;
}
.card-4 {
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 16px;
  margin-right: 16px;
}
